{% load static %}
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
<script src="https://cdn.babylonjs.com/materialsLibrary/babylon.gridMaterial.min.js"></script>
<script src="https://cdn.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>
<script src="https://cdn.babylonjs.com/gizmo/babylon.gizmoManager.min.js"></script>
<!-- ЕДИНЫЙ редактор -->
<script type="module" src="{% static 'js/editor.js' %}"></script>
