{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include 'editor/includes/head.html' %}
  </head>
  <body class="editor-body" data-mode="{{ mode }}" data-entity-id="{{ entity_id }}">
    {% include 'editor/includes/topbar.html' %}

    <div id="main-layout">
      {% include 'editor/includes/left_panel.html' %}
      {% include 'editor/includes/viewport.html' %}
      {% include 'editor/includes/inspector.html' %}
    </div>

    {% include 'editor/includes/modals.html' %}
    {% include 'editor/includes/scripts.html' %}
  </body>
</html>
